# Data Pre-processing

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:

raw_data = pd.read_csv(r"D:\github\texture_haptic\raw_data\s1_f100_i001.txt")

In [22]:
raw_data

        0.000146      0  0.1
0       0.000250      0    0
1       0.000295      0    0
2       0.000317      0    0
3       0.000338      0    0
4       0.000359      0    0
...          ...    ...  ...
399994  7.635381  85598  108
399995  7.635400  85598  108
399996  7.635419  85599  108
399997  7.635438  85599  108
399998  7.635457  85599  108

[399999 rows x 3 columns]